<div class="main-card" >
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 10vh;">
    <h3>Beneficiaries Data Upload</h3>
    <div class="drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" [class.active]="isDragActive">
      <span>Drag & Drop Excel file here or </span>
      <label class="upload-label">
        <input type="file" class="download-btn" (change)="onFileChange($event)" accept=".xlsx,.xls" class="blue-btn"/>
      </label>
    </div>
    <div class="template-download-link">
      <a href="template/demographic_data_template.xlsx" download class="download-link">
        <i class="pi pi-download" style="margin-right:6px;"></i>
        <span style="color:#2575fc;text-decoration:underline;cursor:pointer;font-weight:600;">Download Template</span>
      </a>
    </div>
  </div>
  <div style="display: flex; justify-content: center; margin-top: 24px;">
    <button class="btn btn-hero btn-xl next-step-btn" type="button">
      Next Step
    </button>
  </div>

  <div style="width: -webkit-fill-available;">
    <h4>Beneficiaries Demographic Data</h4>
    <ag-grid-angular
      class="ag-theme-alpine custom-ag-grid"
      style="width:100%;"
      [rowData]="excelData"
      [columnDefs]="agGridColumns"
      [pagination]="true"
      [paginationPageSize]="10"
      [domLayout]="'autoHeight'"
    ></ag-grid-angular>

    <!-- <div class="chart-row-center">
      <div class="chart-dropdown">
        <label for="columnSelect">Select Column for Pie Chart:</label>
        <select id="columnSelect" [(ngModel)]="selectedColumn" (change)="onColumnSelect()" class="native-dropdown">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let col of columns" [value]="col">{{ col }}</option>
        </select>
      </div>
      <div *ngIf="pieData" class="chart-pie-horizontal">
        <p-chart type="pie" [data]="pieData" [options]="{ plugins: { legend: { position: 'right', align: 'center' } } }"
        ></p-chart>
      </div>
    </div> -->
  </div>
</div>
